version: '3.8'

services:
  n8n:
    image: n8nio/n8n:2.2.4
    container_name: n8n
    restart: unless-stopped
    ports:
      - "5678:5678"
    volumes:
      - n8n_data:/home/node/.n8n
    env_file:
      - config.env
    environment:
      - GENERIC_TIMEZONE=Asia/Taipei
      - TZ=Asia/Taipei

volumes:
  n8n_data:
